* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight: bold;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

nav{
  /* font-weight: bold; */
  padding: 2rem 3rem;
  font-size: 1.5rem;
}

nav span{
  margin: 0 1rem;
}

a {
  text-decoration:none;
  display: inline-block;
  color: black !important;
}

.header{
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 20px;
}

.img{
  text-align: center;
  padding-bottom: 50px;
}

.nama {
  text-align: center;
  font-size: 1rem;
  font-family: tahoma, sans-serif;
  border-collapse: collapse;
  width: 100%;    
}
  
th{
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.column{
  display: flex;
  justify-content: space-around;
}

.nama:after{
  content: "";
  display: table;
  clear: both;
}
